html{
    font-size: 24px;
}

ul,ol{
    list-style: none;
}

section{
    margin: 0rem;
}

main{
    background-color: #242126;
}

/*header*/
header{
    background-color: #061014;
}
.header{
    background-color: #061014;
    width: 100%;
}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition)
}
header nav ul{
    padding: 0%;
    margin-left: 1rem;
    margin-bottom: 40px;
}
header nav ul li{
    display: inline-block;
    text-align: left;
}

.header__list{
    text-align: left;
}
.header__elements{
    padding-left: 2rem;
}

/*body*/
body{
    margin: 0;
    padding: 0;
}

hr.solid{
    border-color: #8C1F1F;
    border-width: thick #8C1F1F;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

hr.solid-chico{
    border-color: #8C1F1F;
    width:100%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

hr.solid-chico-1{
    border-color: #8C1F1F;
    width:54rem;
    margin-bottom: 3rem;
}
hr.solid-chico-2{
    border-color: #F2F2F2;
    margin: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    max-block-size: 5rem;
}
hr.solid-principal{
    border-color: #F2F2F2;
    width:55rem;
    margin: 0.2rem;
    margin-left: 1.5rem;
}
/*texto*/
h1{
    font-family: 'Bebas Neue', cursive;
    margin: 0%;
    font-size: 4rem;
    text-align: left;
    color: #F2F2F2;
    margin-left: 1rem;
    
}
h2{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;
    font-size: 2.7rem;
    text-align: center;
    color: #F2F2F2;
    padding-left: 1rem;
    margin: 0rem;
    margin-bottom: 3rem;
}

h3{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight:600;
    font-size: 1.6rem;
    color: #F2F2F2;
    padding-left: 1rem;
}

h4{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight:600;
font-size: 1.3rem;
color: #F2F2F2;
padding-right: 1rem;
}

p{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #F2F2F2;
    margin-left:1rem;
}

article p{
    margin-top: 0%;
}
.header__elements{
    font-family: 'Barlow Semi Condensed', sans-serif; ;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
}
.texto-guia-video{
text-align: center;
}

.infomantes-valo__p{
    text-align: center;
    margin: 2rem;
}
.noticias-primarias__title{
    text-align:center;
    padding-left: 0rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    max-width: 28rem;
}

.noticias-primarias__p{
    text-align:center;
    padding-left: 0rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    max-width: 28rem;
    
}
.noticias-primarias__title-2{
    text-align:center;
    padding-left: 0rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    max-width: 28rem;
}

.noticias-primarias__p-2{
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;;
    text-align: center;
    max-block-size: 13rem;
    margin-right:1rem;
}

.noticias-primarias__title-3{
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
    text-align: center;
    max-block-size: 13rem;
    margin-right:1rem;
    padding-left: 0rem;
}
.noticias-primarias__p-3{
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;;
    text-align: center;
    max-block-size: 13rem;
    margin-right:1rem;
}

.quienes-somos__title{
    text-align: center;
}
.quienes-somos__p{
    
    text-align:justify;
}
.formulario{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 400;
    color: #F2F2F2;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 4rem;
}

.guia-title{
    margin-bottom: 1rem;
}
.agradecimiento{
    text-align: center;
}
.principal__p{
    max-width: 55rem;
}
.guia__izquierda{
    width: 50%;
}
.guia__derecha{
    width: 50%;
}
.programa{
    text-align: center;
    padding: 0%;
}
.programa__p{
    text-align: center;
   margin-right: 1rem;
}
.programa__quieroaplicar{
    text-align: center;
    text-decoration:underline;
}
.principal__titulo
{
text-align: left;
margin: 0;
}

.noticias-primarias{
    text-align: center;
    display: inline-flex;
    margin: auto;
}



/*imagenes*/
article img{
    max-width: 25rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.principal__imagen{
    max-width: 55rem;
}

video{
    margin: center;
    height: 40rem;
    margin-left: 7rem;
    margin-right: 3rem;
    margin-bottom: 6rem;
}
/*footer*/
footer{
    background-color: #061014;
}
footer div ul img{
    max-width: 70px;
}
.primarias-image-3{
margin: 0rem;
margin-right: 1rem;
}
.noticias-chicas{
    display: inline-flex;
    text-align: center;

}
.noticias-chicas__img{
    max-block-size: 13rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.footer__img{
    display: inline-flex;
    padding: 0;
}

.container__footer{
    text-align: center;
    padding: 2rem 0rem 0.5rem 0rem;
    justify-content: space-between;
}
