*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a{
    text-decoration: none;
    color: $parrafo;
}

html{
    font-size: 16px;
}

main{
    background-color: #242126;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
  }

  span{
    text-decoration: none;
    color: $parrafo;
  }